body {
  font-family: "iransans";

}

.shf {
  background-image: url(../images/estakhr.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
    
}
.odometer.odometer-auto-theme,
.odometer.odometer-theme-default {
  font-family: "iransans" !important;
}
.entext {
  font-family: tahoma;
}





